.mat-form-field {
  position: absolute;
  bottom: 5%;
  left: 30%;
  width: 60%;
  height: 10%;
}

textarea {
  height: 60%;
  width: 90%;
  font-size: 15px;
}

.mat-button {
  position: absolute;
  font-size: 20px;
  left: 92%;
  bottom: 0;
}
